@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body {
    background-color:#ccc;
}

.box {
  width: 100vw;
  height: 100vh;
  display: flex; /* 要素をflexboxに対応させる */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}

.box__bg_photo {
  background-image: url(umi.jpg);
  background-size: cover;
  background-position: center;
}

#title {
  font-size: 70px;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 700;
}

.section {
  padding: 60px 0 60px 0;
}

.content-section-heading h2{
  font-size: 3rem;
}

#img01 {
  display: flex;
  align-items: center;
  position:relative;
  justify-content: center;
}

.profile-img {
  max-width:90%;
}

#gnav {
  text-align: center;
}

#gnav ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

#gnav ul li {
  display: inline-block;
  width: 200px;
  text-align: center;
}

#gnav ul li a {
  display: block;
  padding: 10px 16px;
  margin-top: 5px;
  background-color: #506080;
  color: #fff;
  text-decoration: none;
  transition: background-color .2s linear;
}

.profile-box {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.about-me h3 {
  font-size: 33px;  
  border-bottom: 5px;
}

.about-me p {
  line-height: 2;
  font-size: 18px;
}

.personality {
  font-size: 20px;
  font-weight: bolder;
}

.skill-background {
  background-color: #006699;
}

.card-wrapper {
  padding-top: 30px;
}

.text {
  font-size: 12px;
}

.skill-desc-title {
  padding: 14px;
  font-size: 22px;
  font-weight: bold;
}

.skill-body {
  font-weight: bold;
}

#skill-card {
  margin-bottom: 15px;
}

.card {
  border: 1px solid rgba(0,0,0,.3);
  height: 250px;;
}

h3 {
  font-size: 100%
}

.card-image {
  padding: 3px;
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 0 0%;
}

.card-works {
  height: 420px;
  margin-bottom: 15px;
}

.contact-text {
  text-align: center;
}

#footer {
  background-color: #506080;
  height: 150px;
}

nav {
  text-align: center;
}

nav ul {
 list-style: none;
 margin: 0;
 padding-top: 30px;
}

nav ul li {
  display: inline-block;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 10px 16px;
  margin-top: 5px;
  color: #fff;
  text-decoration: none;
  transition: background-color .2s linear;
}

.contact-text p{
  font-weight: bold;
  font-size: 22px;
}

.copyright {
  text-align: center;
  font-size: 6px;
  padding-top: 15px;
}

.twitter {
  height: 40px;
  padding-right: 20px;
}

.gmail {
  height: 40px;
  padding-right: 20px;
}