body {
    background-color:#ccc;
}

span {
  display: inline-block;
}

.title {
  font-family: 'Corben', cursive;
}

.jumbotron{
  background-image:url(umi.jpg);
  background-size: cover;
  background-position: center 60%;
}

.main{
  padding-bottom: 100px;
}

.section {
  padding-top: 60px;
}

.profile-img {
  text-align: center;
  padding-top: 25px;
  max-width:80%;
}

#gnav {
  text-align: center;
}

#gnav ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

#gnav ul li {
  display: inline-block;
  width: 200px;
  text-align: center;
}

#gnav ul li a {
  display: block;
  padding: 10px 16px;
  margin-top: 5px;
  background-color: #506080;
  color: #fff;
  text-decoration: none;
  transition: background-color .2s linear;
}

.card-wrapper {
  padding-top: 30px;
}

.skill-desc {
  text-align: center;
}

.text {
  font-size: 12px;
}

.skill-desc-title {
  padding: 14px;
  font-size: 22px;
  font-weight: bold;
}

.skill-body {
  font-weight: bold;
}

#skill-card {
  margin-bottom: 15px;
}

.card {
  border: 1px solid rgba(0,0,0,.3);
  height: 250px;
  background-color: #eee;
}

h3 {
  font-size: 100%
}

.card-image {
  padding: 3px;
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 0 0%;
}

.card-works {
  height: 420px;
  margin-bottom: 15px;
}

.contact-text {
  text-align: center;
}

#footer {
  background-color: #506080;
  height: 150px;
}

nav {
  text-align: center;
}

nav ul {
 list-style: none;
 margin: 0;
 padding-top: 30px;
}

nav ul li {
  display: inline-block;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 10px 16px;
  margin-top: 5px;
  color: #fff;
  text-decoration: none;
  transition: background-color .2s linear;
}

.contact-text {
  padding-top: 50px;
  font-weight: bold;
  font-size: 22px;
}

.copyright {
  text-align: center;
  font-size: 6px;
  padding-top: 15px;
}

.twitter {
  height: 40px;
  padding-right: 20px;
}

.gmail {
  height: 40px;
  padding-right: 20px;
}